body { 
    font-family: Arial, sans-serif; 
    margin: 0; 
    padding: 0; 
    line-height: 1.6; 
    background-color: rgb(255, 255, 255);
} 

header, footer { 
    background-color: #333; 
    color: white; 
    padding: 20px;
    text-align: center; 
} 

main { 
    padding: 20px; 
} 

section { 
    margin-bottom: 40px; 
} 

h2 { 
    border-bottom: 2px solid #ccc; 
    padding-bottom: 5px; 
}

.nappi{
    background-color: rgb(135, 224, 253);
    border-radius: 6px;
    padding: 5px 5px;
    border: solid 3px rgb(0, 0, 155);
    cursor: pointer;

}

.kuva{
    width: 300px;
    height: 300px;
    border-radius: 50%;
    border: 5px solid #333;
    display: block;
    margin-left: auto;
    margin-right: auto;

}